# Dependências diretas da aplicação. As dependências transitivas serão
# resolvidas pelo pip durante a instalação.
streamlit==1.60.0
pandas==3.0.5
plotly==6.9.0
streamlit-modal==0.1.2
streamlit-aggrid==1.1.8
